<%- include('includes/head.ejs')%>
    </head>

    <body>
        <%- include('includes/navigation.ejs')%>
            <main>
                <h2>404: 页面走丢了</h2>
            </main>
            <%- include('includes/end.ejs')%>