<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>shop</title>
</head>

<body>
    <header class="shop-header">
        <nav class="shop-nav">
            <ul class="shop-list">
                <li class="shop-list-item">
                    <a class="active" href="/">商店</a>
                </li>
                <li class="shop-list-item">
                    <a href="/admin/add-product">添加产品</a>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        <form class="product-form" action="/admin/product" method="POST">
            <div class="form-control">
                <label for="title">标题</label>
                <input type="text" name="title" id="title" />
            </div>
            <button type="submit">添加商品</button>
        </form>
    </main>
</body>

</html>