<%- include('includes/head.ejs')%>
    </head>

    <body>
        <%- include('includes/navigation.ejs')%>
            <main>
                <% for(product of products) { %>
                    <h3>
                        <%= product.title%>
                    </h3>
                    <% } %>

            </main>

            <%- include('includes/end.ejs')%>